<div class="container mt-4">
	<div class="row justify-content-center mx-3 mb-5">
	    <div class="col-md-4">
		    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
	        alt="loading..." class="mx-auto img-thumbnail" width="400" height="400">
	    </div>
	    <div class="col-md-4">
	    	<p class="text-center h3">Personal data</p>
	    	<p class="h5">Full name: <%= @user.first_name %> <%= @user.last_name %></p>
	    	<p class="h5">Email: <%= @user.email %></p>
	    	<p class="h5">Phone: <%= @user.phone %></p>
	    	<p class="h5">Address: <%= @user.delivery_address %></p>
	    	<div class="d-flex flex-wrap justify-content-center align-items-center gap-2">
	    	<%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary"  %>
	    	<%= button_to "Delete account", registration_path(current_user), ata: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger"  %>
	    	</div>
	    </div>
	</div>
	<p class="text-center h3">Orders</p>
	<div class="table-responsive mx-auto mt-3">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="w-10">ID</th>
        <th class="w-10">Date</th>
        <th class="w-10">Status</th>
        <th class="w-10">Items</th>
        <th class="w-10">Total price</th>
        <th class="w-10"></th>
      </tr>
      </thead>
      <tbody>
	    <% @orders.each do |order| %>
	        <tr>
	          <td><%= order.id %></td>
	          <td><%= order.order_date %></td>
	          <td><%= order.order_status %></td>
	          <td><%= OrderProduct.where(order_id: order.id).sum(:amount) %></td>
	          <td>
	          	<% sm = 0 %>
	          	<% OrderProduct.where(order_id: order.id).each {|ordpr| sm += Product.find_by(id: ordpr.product_id).price * ordpr.amount} %>
	          	<%= sm %> ₴
	          </td>
	          <td><%= button_to "Delete", "/orders/#{order.id}", method: :delete, class: "btn btn-outline-danger btn-sm" %></td>
	        </tr>
      	<% end %>
      </tbody>
    </table>
  </div>
</div>